@import "../../App.scss";
.services{
    background: linear-gradient(180deg, #0c0c1d, #111132);
    height: 100%;
    display: flex;
    flex-direction: column;
    

    
    .textContainer{
        flex: 1;
        align-self: flex-end;
        display: flex;
        align-items: center;
        gap: 20px;


        @include mobile{
            align-items: center;
            text-align: center;
            flex-direction: column;
        }
        p{
            font-weight: 200;
            font-size: 20px;
            color: gray;
            text-align: right;
        }
        hr{
            width: 500px;
            border: none;
            border-top: 0.5px solid gray;
            @include mobile{
                width: 300px;
            }
        }
    }
    .titleContainer{
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include mobile{
            width: 100%;
        }

        .title{
            display: flex;
            align-items: center;
            gap: 25px;

            @include mobile{
                flex-direction: column;
                text-align: center;
                gap: 20px;
            }


            img{
                width: 300px;
                height: 100px;
                border-radius: 50px;
                object-fit: cover;
                 @include mobile{
                width: 200px;
                height: 50px;
            }
            }
            h1{
                font-size: 96px;
                font-weight: 100;
                line-height: 1.1;
                b{
                    font-weight: 600;
                }
                @include mobile{
                font-size: 36px;
            }

            }
            button{
                width: 250px;
                height: 100px;
                border-radius: 50px;
                background-color: orange;
                border: none;
                font-size: 24px;
                cursor: pointer;

                @include mobile{
                    font-size: 16px;
                    width: 150px;
                    height: 50px;
                }
            }
        }
    }
    .listContainer{
        flex: 2;
        display: flex;
        max-width: 1366px;
        margin: auto;
       
        min-height:400px;
        

         @include mobile{
                flex-direction: column;
                width: 100%;
            }

        .box{
         padding: 40px; 
         border: 0.5px solid gray; 
         display: flex;
         
         flex-direction: column;
         justify-content: flex-start;
            flex: 1;
         gap: 20px;

         h1 {  
                font-size: 24px;    
                font-weight: bolder;
            }

          @include mobile{
                border: none;
                align-items: center;
                gap: 20px;
                padding: 10px;
            }
         
         p{
            font-size: 18px;
            line-height: 1.5;
         
             @include mobile{
                display: none;
            }
         }
         button{
           padding: 15px;
           background-color: orange; 
           border: none;
           cursor: pointer;
           
                margin-top: auto;

            @include mobile{
                background-color: transparent;
                border: 1px solid orange;
                border-radius: 5px;
                color: orange;
                width: 50%;
                padding: 5px;
            }
         }
        }
    }
}