@import "../../App.scss";

.services {
  background: linear-gradient(180deg, #0c0c1d, #111132);
  height: 100%;
  display: flex;
  flex-direction: column;

  .textContainer {
    flex: 1;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 20px;

    @include mobile {
      align-items: center;
      text-align: center;
      flex-direction: column;
    }

    p {
      font-weight: 200;
      font-size: 20px;
      color: gray;
      text-align: right;
    }

    hr {
      width: 500px;
      border: none;
      border-top: 0.5px solid gray;

      @include mobile {
        width: 300px;
      }
    }
  }

  .titleContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mobile {
      width: 100%;
    }

    .title {
      display: flex;
      align-items: center;
      gap: 25px;

      @include mobile {
        flex-direction: column;
        text-align: center;
        gap: 20px;
      }

      img {
        width: 300px;
        height: 100px;
        border-radius: 50px;
        object-fit: cover;

        @include mobile {
          width: 200px;
          height: 50px;
        }
      }

      h1 {
        font-size: 96px;
        font-weight: 100;
        line-height: 1.1;

        b {
          font-weight: 600;
        }

        @include mobile {
          font-size: 36px;
        }
      }

      button {
        width: 250px;
        height: 100px;
        border-radius: 50px;
        background-color: orange;
        border: none;
        font-size: 24px;
        cursor: pointer;

        @include mobile {
          font-size: 16px;
          width: 150px;
          height: 50px;
        }
      }
    }
  }

  .listContainer {
    flex: 2;
    display: flex;
    max-width: 1366px;
    margin: auto;
    min-height: 400px;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    @include mobile {
      width: 100%;
    }

    .iconCarousel {
      width: 100%;
      overflow: visible;
    }

    .iconTrack {
      display: flex;
      gap: 80px;
      align-items: center;
      animation: scroll 30s linear infinite;
    }

    .iconTrack img {
      width: 120px;
      height: 120px;
      object-fit: contain;
      transition: 0.4s ease;
      filter: drop-shadow(0 0 5px rgba(255, 165, 0, 0.4));
    }

    .iconTrack img:hover {
      transform: scale(1.3);
      filter: drop-shadow(0 0 25px orange);
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}